{% extends "index.html" %}

{% block content %}
    <div class="container">
        <div class="signup_container">
            <h2>USER LOGIN</h2>
                <p class="error">{{error}}</p>
            <form method="post" class='login-form animated zoomIn'>
                <div class="flex-row">
                    <label for="username">
                    </label>
                    <input id="username" type="text" name="username" value="" class='input' placeholder='Username'>
                </div>
                <div class="flex-row">
                    <label for="password">
                    </label>
                    <input type="password" name="password" value="" id="password" class='input' placeholder='Password'>
                </div>
                <input class='submit-form' type='submit' value="Login"> </form>
        </div>
    </div>
{% endblock %}