{% extends "index.html" %}

{% block content %}
    <div class="container">
        <div class="signup_container ">
            <h2>SIGN UP</h2>
            <p class="post-error">{{error}}</p>
            <form method="post" class="login-form animated zoomIn">
                <div class="flex-row">
                    <label for="username">
                    </label>
                    <input type="text" name="username" value="{{username}}" id="username" class='input' placeholder='Username'> </div>

                <div class="flex-row">
                    <label for="password">
                    </label>
                    <input type="password" name="password" value="" id="password" class='input' placeholder='Password'> </div>

                <div class="flex-row">
                    <label for="verify">
                    </label>
                    <input type="password" name="verify" value="" id="verify" class='input' placeholder='Verify Password'> </div>

                <div class="flex-row">
                    <label for="email">
                    </label>
                    <input type="text" name="email" value="{{email}}" id="email" class='input' placeholder='Email-id (Optional)'></div>

                <input class='submit-form' type="submit" value="Sign Up!"> </form>
        </div>
    </div>
{% endblock %}
